.center-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.center-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.big-btn {
  font-size: 40px;
  padding: 10px;
  margin: 10px;
}

.data-table {
  border: black;
  border-style: solid;
  border-width: 1px;
}

.data-table thead tr td {
  border: grey;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  fill: grey;
  font-weight: bold;
}

.data-table tbody tr td {
  border: grey;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.timeline div {
  margin: 20px;
  border-left: solid medium black;
  /* background-color: lightgrey; */
  padding: 2px;
}

.timeline p {
  margin: 8px;
}